body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('https://img.goodfon.com/wallpaper/nbig/c/61/anime-art-fon-tekstura-pokemon.webp');
    margin: 0;
    padding: 1em;
    backdrop-filter: blur(4px);
    background-attachment: fixed;
}   