{% extends "base.html" %}

{% block head %}
{% assets "css_details" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}
{{ super() }}
<title>{{_('Pokemon_Title')}}</title>
{% endblock %}


{% block content %}

<body>
    <div class="infos">
        <div style="display: flex;justify-content: space-between;">
            <a href="/page/pokemons?lang={{request.args.get('lang', 'fr')}}">{{_('Pokemon_Btn_Back')}}</a>
            <div id="flags"><a href="?lang=en"><img src="https://upload.wikimedia.org/wikipedia/commons/8/83/Flag_of_the_United_Kingdom_%283-5%29.svg" alt="EN"></a><a href="?lang=fr"><img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg" alt="FR"></a></div>
        </div>
        <img src="https://studies.delpech.info/api/pokemons/dataset/{{pokemon['id']}}/svg" id="pokemon-img" style="height:20em;width:auto;max-width:80%;display:flex;margin:0 auto;"></img>
        
        <h4>{{_("Pokemon_Name")}} {{ pokemon['name'][request.args.get('lang', 'fr')] }}</h4>
        
        <p>Description : {{ pokemon['description'][request.args.get('lang', 'fr')] }}</p>
        
        Type(s) :
        <ul> 
            {% for type in (pokemon['types']) %}
            <li class="type">{{ type['name'][request.args.get('lang', 'fr')] }}</li>
            {% endfor %}
        </ul>
        
        Stats :
        <ul>
            {% for stat in (pokemon['stats']) %}
            <li>{{ stat['stat']|string + ' ' + stat['name'] }}</li>
            {% endfor %}
        </ul>
        
        <p>{{_("Pokemon_Height")}} {{ pokemon['height'] }}</p>
        
        <p>{{_("Pokemon_Weight")}} {{ pokemon['weight'] }}</p>
        
        
    </div>
</body>

<script defer src="/static/js/details.js"></script>

{% endblock %}